---
title: "Publications"
layout: default
excerpt: "DIKU Inference and Retrieval lab -- Publications."
sitemap: false
permalink: /publications/
---

<h1>{{page.title}}</h1>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">

    {% assign publications = site.data.publications_all %}
    {% for publi in publications %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{forloop.index}}"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign fullname = author.given | append: ' ' | append: author.family %}
                {% assign authors = authors | push: fullname %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            {% assign year = publi.issued.date-parts.first.first %}
            ({{ year }}),

            {% assign doi_url = '' %}
            <!-- DOI -->
            {% if publi.DOI %}
            {% assign doi_url = 'https://doi.org/' | append: publi.DOI %}
            <a href="{{ doi_url }}">{{ doi_url }}</a>
            {% endif %}

            <!-- URL -->
            {% if publi.URL and publi.URL != doi_url %}
                <a href="{{publi.URL}}">{{publi.URL}}</a>
            {% endif %}
            </a>
        </div>

        <div id="collapse{{forloop.index}}" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>

                <a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
                   role="button" target="blank">Link</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
